body {
  width:960px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div{
  border: 3px solid black;
  width: 60%;
  
}

div image {
  border: 3px dashed blueviolet;
  width: 300px;
}