body {
  width:960px;
}

main{
  display: flex;
  flex-direction: column;
}
#div {
  display: flex;
  justify-content: space-between;
}
#left, #mid, #right{
  border: 3px solid black;
  width: 330px;
  
}

img {
  border: 3px dashed blueviolet;
  width: 300px;
}